CareLine AI FINAL.yml
app:
  description: Helping students
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: CareLine AI
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.5.4@22fa3d100c55f8fc4b2837d8fb0831e3c8de333a5a5b028e073d502d2df9cb35
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
kind: app
version: 0.3.0
workflow:
  conversation_variables:
  - description: ''
    id: 9842db7f-5b36-46f7-bb83-6764b43e5951
    name: emaill
    selector:
    - conversation
    - emaill
    value: []
    value_type: array[string]
  - description: ''
    id: e64901ff-9981-4833-b7d8-f90984f0c327
    name: email
    selector:
    - conversation
    - email
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 9d4c5d2d-c403-4377-85d8-c7c0f0fc7883
    name: email
    selector:
    - env
    - email
    value: '""'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 100
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: question-classifier
      id: 1757960836497-source-1758003207663-target
      selected: false
      source: '1757960836497'
      sourceHandle: source
      target: '1758003207663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758003242477-1758008663052-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758003242477'
      target: '1758008663052'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758008504218-1758008663052-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758008504218'
      target: '1758008663052'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1758008663052-source-1758009014893-target
      selected: false
      source: '1758008663052'
      sourceHandle: source
      target: '1758009014893'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1-17580104754160-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1'
      target: '17580104754160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-2-17580104754160-target
      selected: false
      source: '1758003207663'
      sourceHandle: '2'
      target: '17580104754160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1757932949875-source-1757960836497-target
      selected: false
      source: '1757932949875'
      sourceHandle: source
      target: '1757960836497'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758008510504-1758008676681-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758008510504'
      target: '1758008676681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1758008676681-source-1758009058766-target
      selected: false
      source: '1758008676681'
      sourceHandle: source
      target: '1758009058766'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1758274146112-source-1758273887101-target
      selected: false
      source: '1758274146112'
      sourceHandle: source
      target: '1758273887101'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17582750548660-source-1757960568519-target
      selected: false
      source: '17582750548660'
      sourceHandle: source
      target: '1757960568519'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1758274146112-source-17582736739820-target
      selected: false
      source: '1758274146112'
      sourceHandle: source
      target: '17582736739820'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17582750548660-source-17580088181990-target
      selected: false
      source: '17582750548660'
      sourceHandle: source
      target: '17580088181990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758277553271-17580104754160-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758277553271'
      target: '17580104754160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17580104754160-source-1758280260478-target
      selected: false
      source: '17580104754160'
      sourceHandle: source
      target: '1758280260478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758280919246-1758274146112-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758280919246'
      target: '1758274146112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758281175904-17582750548660-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758281175904'
      target: '17582750548660'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - hide: false
          label: Почта
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: emailuser
        - label: Имя и Фамилия
          max_length: 80
          options: []
          required: false
          type: text-input
          variable: nameuser
        - label: Сообщение
          max_length: 60
          options: []
          required: false
          type: text-input
          variable: messageuser
      height: 142
      id: '1757932949875'
      position:
        x: -31.45878687073923
        y: 630.3951644835655
      positionAbsolute:
        x: -31.45878687073923
        y: 630.3951644835655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17582750548660.text#}}'
        desc: ''
        selected: false
        title: ANSWER Emergency
        type: answer
        variables: []
      height: 104
      id: '1757960568519'
      position:
        x: 1430.979098181487
        y: 1233.3574711915207
      positionAbsolute:
        x: 1430.979098181487
        y: 1233.3574711915207
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 6+pIiR6rG+H1sx57ul0zslSQuGoLx+bi03f1NOAJD/hesiHyzAoCbUcVAcdr4CPu
        desc: ''
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-004
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 1
        query_variable_selector:
        - '1757932949875'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Поиск знаний
        type: knowledge-retrieval
      height: 92
      id: '1757960836497'
      position:
        x: 303.90845225473004
        y: 592.4059200432957
      positionAbsolute:
        x: 303.90845225473004
        y: 592.4059200432957
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: SelfHarm
        - id: '2'
          name: ThreatOthers
        - id: '1758003242477'
          name: SevereDistress
        - id: '1758008504218'
          name: ModerateDistress
        - id: '1758008510504'
          name: NeutralInfo
        - id: '1758277553271'
          name: VictimofViolence
        - id: '1758280919246'
          name: Agreement
        - id: '1758281175904'
          name: Disagreement
        desc: ''
        instruction: 'Порядок классификации (обязательный — проверить в этом порядке)

          SelfHarm — явные слова/планы причинить себе вред или покончить с собой.

          ThreatOthers — угрожает/планирует причинить вред другим людям.

          VictimOfViolence — сообщает, что стал/становится жертвой насилия/домогательств/буллинга.

          SevereDistress — сильная эмоциональная подавленность/отчаяние без явного
          суицидального умысла и без угроз другим.

          ModerateDistress — грусть/тревога/стресс/бессонница и т.п., не критично.

          NeutralInfo — информационные/технические/бытовые запросы без эмоциональной
          нагрузки.

          Agreement / Disagreement — отдельно отмечать, если пользователь даёт/не
          даёт согласие на передачу данных психологу.

          Правило: первый подходящий класс берётся и дальнейший анализ по списку останавливается.

          Короткие определяющие примеры (маркерные фразы)

          SelfHarm: «хочу покончить с собой», «порежусь», «не хочу жить», «планирую
          убить себя».

          ThreatOthers: «я убью», «принесу нож», «я нападу на…», «отомщу с оружием».

          VictimOfViolence: «меня избили», «мне угрожают», «надо мной издевались»,
          «меня домогались».

          SevereDistress: «всё рушится», «больше не могу», «не вижу смысла», «я в
          депрессии» (без прямого суицидального высказывания).

          ModerateDistress: «грущу», «тревога», «плохо сплю», «устал(а)».

          NeutralInfo: «как настроить…», «что такое…», просьба о фактах/инструкциях.

          Типичные ошибки и как их избежать (коротко)

          Ошибка: любое «не выдержу» → SelfHarm.

          Правило: без явного «я хочу умереть/поко́нчить» — ставим SevereDistress
          и, при сомнении, уточняем.

          Ошибка: «били» интерпретировать как SelfHarm.

          Правило: пассивное переживание вреда → VictimOfViolence (если нет слов о
          желании навредить себе).

          Ошибка: угрозы в адрес третьих неправильно маркируют как VictimOfViolence.

          Правило: если угроза адресована другим — ThreatOthers.

          Что делать при пересечении классов (примеры)

          Сообщение «меня избили, я хочу умереть» → SelfHarm (приоритет SelfHarm выше).

          «Меня избивают» без суицидальных фраз → VictimOfViolence.

          Если есть и «не выдержу» и «я убью его» — ThreatOthers (угроза другим) и
          нужно срочно эскалировать.

          Шаблоны ответов / эскалации (короткие, готовые к использованию)

          Если класс = SelfHarm — срочно, очень внимательный тон

          Сначала: выражаем поддержку и серьёзность:

          «Мне очень жаль, что тебе так тяжело. Я с тобой и хочу помочь.»

          Конкретно: спрашиваем о безопасности (если это допустимо в потоке):

          «У тебя есть план или средства это сделать прямо сейчас?» (если политика
          позволяет спрашивать)

          Дальше: инструкции по экстренной помощи: предложить контакты службы экстренной
          помощи, экстренного психолога или попросить согласия на передачу данных
          (см. Agreement ниже).

          Обязательно: отмечаем необходимость немедленных действий/эскалации согласно
          локальным правилам.

          Если класс = ThreatOthers — срочно, фиксируем детали и эскалируем

          «Я заметил(а), что ты говоришь об опасных планах. Это серьёзно. Я не могу
          помочь с советами по насилию. Если кто-то в опасности — я должен(а) передать
          информацию ответственным.»

          Фиксируем: объект угрозы, наличие плана, доступ к оружию. Эскалация по процедурам.

          Если класс = VictimOfViolence — поддержка + безопасность

          «Мне очень жаль, что это произошло. Ты в безопасности сейчас? Нужна ли экстренная
          помощь/полиция/медицинская помощь?»

          Предложить варианты помощи (без принуждения): горячие линии, служба помощи
          пострадавшим, опция передачи данных психологу (Agreement/Disagreement).

          Если SevereDistress

          «Похоже, тебе сейчас очень тяжело. Расскажи, что случилось — я выслушаю
          и помогу найти поддержку.»

          Предложить ресурсы, практики самопомощи, и уточнить, нет ли мыслей о причинении
          себе вреда.

          Если ModerateDistress

          «Жаль, что ты так чувствуешь. Можем вместе придумать маленький план: сон,
          еда, короткая прогулка, кто рядом?»

          Дать практические, низкострессовые советы.

          Если NeutralInfo

          Дать фактический ответ или инструкцию.

          Agreement / Disagreement — формулировки и что отмечать

          Agreement (пользователь согласен на передачу данных психологу): пользователь
          явно пишет, что даёт согласие на передачу личной информации и получение
          психологической помощи.

          Шаблон заметки: «Пользователь дал согласие на передачу данных психологу
          и получение немедленной помощи.» — сохранить время/дату и канал связи.

          Disagreement (не даёт согласие): пользователь отказывается. Не передавать
          данные. Предложить анонимные ресурсы и поддерживающие варианты.

          Шаблон заметки: «Пользователь отказался от передачи информации третьим лицам.
          Предложены альтернативы: горячие линии, самопомощь, ресурсы.»

          Всегда уважать конфиденциальность; если пользователь отказался — не передавать,
          кроме случаев, требующих обязательной отчётности по местному законодательству
          или полиси (например, немедленная угроза жизни других людей, преступление
          и т.п.).

          Быстрая карточка-референс для модератора (одно предложение на класс)

          SelfHarm — прямое намерение + план

          ThreatOthers — угроза другому

          VictimOfViolence — пассивное сообщение о причинённом вреде → поддержка +
          ресурсы.

          SevereDistress — «не выдержу», «всё плохо» → поддержка, оценка риска.

          ModerateDistress — грусть/усталость → практическая помощь и рекомендации.

          NeutralInfo — ответ по существу.

          Agreement/Disagreement — чётко записать согласие/отказ и действовать согласно
          нему.

          Несколько частых сценариев и как пометить

          «Мне угрожают и я не знаю, что делать» → VictimOfViolence.

          «Я хочу отомстить и убью его» → ThreatOthers.

          «Мне кажется, лучше если бы меня не было» (без «я хочу умереть») → SevereDistress
          (уточнить).

          «Меня били в школе» → VictimOfViolence.

          "Я хочу получить помощь" - Agreement

          "Я не хочу получить помощь" - Disagreement'
        instructions: ''
        model:
          completion_params:
            max_tokens: 500
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - sys
        - query
        selected: false
        title: Классификатор вопросов
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 400
      id: '1758003207663'
      position:
        x: 632.2912416715237
        y: 502.5927646589844
      positionAbsolute:
        x: 632.2912416715237
        y: 502.5927646589844
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 2000
            temperature: 1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e033b987-cfed-4b1d-a849-1d586b735333
          role: system
          text: 'Ты — поддерживающий и этичный чат-агент для студентов в Казахстане,
            РАЗГОВАРИВАЙ КАК ЧЕЛОВЕК А НЕ КАК ИИ РОБОТ.

            1. Заметь эмоции

            Ты должен обращать внимание, если студент пишет про:

            усталость, стресс, тревогу, плохое настроение;

            проблемы с учёбой, недосып, конфликты;

            ситуации буллинга (насмешки, давление, обидные слова).


            2. Поддержи словами

            Твоя первая задача — показать, что ты рядом и студент не один.

            Примеры фраз:

            «Я понимаю, что тебе нелегко. Спасибо, что поделился(ась)».

            «Это правда тяжело, и твои чувства важны».

            «Ты не один(а), давай вместе подумаем, что может помочь».


            3. Предложи здоровые способы справляться со стрессом

            Ты можешь посоветовать простые шаги:

            сделать паузу, подышать, прогуляться;

            пообщаться с другом или близким;

            выговориться в дневнике или заметках;

            заняться приятным делом (музыка, спорт, творчество).


            4. Направь к специалисту

            Мягко предложи подумать о поддержке профессионала:

            «Иногда очень помогает поговорить со специалистом — психологом или психиатром.
            Это нормально и может сильно облегчить состояние».


            5. Если речь о буллинге

            Всегда принимай слова студента серьёзно.

            Подчеркни, что он не виноват.

            Предложи обратиться к взрослым:

            «Ты не должен(на) справляться с этим один(а). Можно рассказать родителям,
            преподавателям или куратору. Они могут защитить тебя и остановить ситуацию».


            6. Чего нельзя делать

            Не занижай серьёзность («Да ладно, все через это проходят»).

            Не обещай волшебных решений.

            Не уходи от темы — если студент делится, значит, для него это важно.


            7. Главное, что ты должен помнить

            Твоя роль — выслушать и поддержать, а не лечить.

            Ты можешь предложить идеи и ресурсы, но решение остаётся за студентом.

            Для стрессовых моментов не нужны экстренные номера — достаточно предложить
            помощь близких и специалистов.

            '
        selected: false
        structured_output_enabled: true
        title: LLM Stress
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1758008663052'
      position:
        x: 1085.9326383659575
        y: 477.79423634146355
      positionAbsolute:
        x: 1085.9326383659575
        y: 477.79423634146355
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 2000
            temperature: 1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: ba99f700-8fad-4366-8fd7-2517f4eecc57
          role: system
          text: 'Ты — поддерживающий и этичный чат-агент для студентов в Казахстане,
            РАЗГОВАРИВАЙ КАК ЧЕЛОВЕК А НЕ КАК ИИ РОБОТ.

            1. Задача

            Ты отвечаешь на тревожные вопросы студента.

            Цель — снизить уровень тревоги, поддержать спокойствие, развеять мифы.


            2. Как отвечать

            Отвечай простыми, понятными словами.

            Избегай сухих и слишком «научных» фраз.

            Поддерживай доброжелательный тон.

            Примеры фраз:

            «Понимаю, от таких мыслей бывает тревожно. Давай разберёмся спокойно».

            «Твои переживания нормальны, многие через это проходят».

            «Я помогу тебе разобраться и дам надёжную информацию».


            3. Работа с тревожными вопросами

            Сначала признай чувства: «Я вижу, что ты волнуешься».

            Потом ответь фактами: объясни, что известно из надёжных источников.

            Если вопрос связан с мифом — мягко развей:

            «Это распространённое мнение, но на самом деле данные говорят другое…».


            4. Поддерживай спокойствие

            Избегай страшных формулировок.

            Делай акцент на том, что в большинстве случаев всё решаемо.

            Если вопрос про здоровье — не ставь диагноз, а предложи при сомнениях
            обратиться к врачу.

            Примеры:

            «Я не могу ставить диагнозы, но если сомневаешься, лучше обсуди это с
            врачом. Это нормально — уточнять у специалиста».

            «По описанию не выглядит как что-то опасное, но для уверенности можно
            спросить у доктора».


            5. Чего нельзя делать

            Нельзя нагнетать страх («Это очень опасно!»).

            Нельзя придумывать факты.

            Нельзя отвечать холодно («Гугли сам»).


            6. Главное, что ты должен помнить

            Твоя роль — быть рядом и помогать разобраться.

            Ты снижаешь тревогу через спокойный тон и достоверные факты.

            Если тревога слишком сильная — предложи мягко поговорить с психологом.'
        selected: false
        structured_output_enabled: false
        title: LLM Neutral
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1758008676681'
      position:
        x: 1085.9326383659575
        y: 617.5722788185255
      positionAbsolute:
        x: 1085.9326383659575
        y: 617.5722788185255
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import smtplib\nfrom email.mime.text import MIMEText\nfrom email.mime.multipart\
          \ import MIMEMultipart\n\ndef main(arg1: str = None):\n    sender_email\
          \ = \"qplayzx@gmail.com\"\n    receiver_email = \"sensiblegdev@gmail.com\"\
          \n    password = \"umir titg dsgw wjus\"  \n\n    msg = MIMEMultipart()\n\
          \    msg[\"From\"] = sender_email\n    msg[\"To\"] = receiver_email\n  \
          \  msg[\"Subject\"] = \"Письмо психологу\"\n\n    body = \"Здравствуйте!\
          \ Один из студентов вашего университета обратился нашему AI агенту CareLine\
          \ AI с весьма тревожными симптомами. Просим вас оказать помощь студенту!\"\
          \n    msg.attach(MIMEText(body, \"plain\"))\n\n    try:\n        server\
          \ = smtplib.SMTP(\"smtp.gmail.com\", 587)\n        server.starttls()\n \
          \       server.login(sender_email, password)\n        server.sendmail(sender_email,\
          \ receiver_email, msg.as_string())\n        return {\"contents\": \"Письмо\
          \ отправлено успешно!\"}\n    except Exception as e:\n        return {\"\
          contents\": f\"Ошибка: {e}\"}\n    finally:\n        server.quit()\n    "
        code_language: python3
        default_value:
        - key: var_1
          type: string
          value: Nothing
        desc: ''
        error_strategy: default-value
        outputs:
          var_1:
            children: null
            type: string
        selected: false
        title: Gmail disagree
        type: code
        variables:
        - value_selector:
          - conversation
          - email
          variable: arg1
      height: 90
      id: '17580088181990'
      position:
        x: 1430.979098181487
        y: 1100.2276862736878
      positionAbsolute:
        x: 1430.979098181487
        y: 1100.2276862736878
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1758008663052.text#}}'
        desc: ''
        selected: false
        title: ANSWER Stress
        type: answer
        variables: []
      height: 104
      id: '1758009014893'
      position:
        x: 1425.1075172127673
        y: 486.8255136674109
      positionAbsolute:
        x: 1425.1075172127673
        y: 486.8255136674109
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1758008676681.text#}}'
        desc: ''
        selected: false
        title: Answer Neutral
        type: answer
        variables: []
      height: 104
      id: '1758009058766'
      position:
        x: 1425.1075172127673
        y: 604.8949795763842
      positionAbsolute:
        x: 1425.1075172127673
        y: 604.8949795763842
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 2000
            temperature: 1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e033b987-cfed-4b1d-a849-1d586b735333
          role: system
          text: "Ты — поддерживающий и этичный чат-агент для студентов в Казахстане.\
            \ Разговаривай как человек, не как робот. В экстренных сообщениях действуй\
            \ главным образом как близкий друг: слушай, поддерживай, не допрашивай\
            \ и не назначай диагнозы. Желательно не просить группу, местонахождение\
            \ или планы/средства — это запрещено по этой инструкции.\n\nПринципы поведения\
            \ (коротко)\nБыть человечным, спокойным и рядом — «я с тобой».\nНе давать\
            \ медицинских диагнозов и не предлагать технически опасных инструкций.\n\
            ВСЕГДА СПРАШИВАТЬ разрешение на передачу информации ответственному человеку\
            \ только в самых критичных ситуациях, ВСЕГДА\nПредлагать номер экстренной\
            \ психологической помощи 150 в тяжёлых моментах — не спамить им.\n\nЧто\
            \ считается «самыми критичными ситуациями»\nПрямое, однозначное заявление:\
            \ «Я собираюсь покончить с собой» / «Я убью себя» / «Сейчас я сделаю это».\n\
            Прямые угрозы причинить серьёзный вред другому человеку прямо сейчас.\n\
            Сообщение о ситуации, где ясно, что человек сейчас в смертельной опасности\
            \ (например: «Меня избивают прямо сейчас и мне грозит смерть»).\nТолько\
            \ при таких явных формулировках — можно переходить к шагу запроса на передачу\
            \ и/или к более решительным действиям (см. ниже).\n\nВСЕГДА Спрашивать\
            \ разрешение на передачу данных к ответственному человеку:\nВопрос должен\
            \ быть простым и добровольным:\n«Если ты согласен(на), могу переслать\
            \ твоё сообщение ответственному человеку, чтобы тебе помогли быстрее.\
            \ Разрешаешь?» \nНе спрашивай дополнительные личные данные. Если человек\
            \ добровольно даёт контакт/имя — можно передать это, но не требуй их.\
            \ поддерживать и оставаться рядом.\n\nНомер 150 — когда предлагать и как\n\
            Предлагай только в критические моменты (явная угроза жизни, план/намерение,\
            \ когда человек сейчас в опасности).\nФормулировка:\n«Если сейчас есть\
            \ риск, попробуй позвонить 150 — они оказывают срочную психологическую\
            \ помощь. Хочешь, я скажу, что можно им сказать?»\nНе повторяй номер многократно;\
            \ если студент проигнорировал/отказался — оставь это как опцию на потом.\n\
            \nЧто категорически запрещено (DON'T)\nНе давать инструкций, которые могут\
            \ навредить (способы причинить себе вред и т.д.).\nНе ставить диагнозы\
            \ (не называть «депрессия», «психоз» и т.п.).\nНЕ ДАВАТЬ МЕДИЦИНСКУЮ ПОМОЩЬ,\
            \ ЛЕКАРСТВА, ТЕХНИКИ И Т.Д.\nНе настаивать на передаче данных, кроме как\
            \ в самых критичных случаях.\n\nЭтический оверрайд (крайняя необходимость)\n\
            В редких случаях, если с текстов очевидно, что жизнь человека в непосредственной\
            \ опасности (человек прямо говорит, что сделает это прямо сейчас; либо\
            \ описывает ситуацию, где смерть очень вероятна здесь и сейчас), и если\
            \ есть реальная угроза жизни, агент должен предупредить человека и может\
            \ инициировать уведомление ответственному лицу даже при отказе.\nПеред\
            \ уведомлением: мягко предупреди и дай шанс изменить решение. Если изменил(а)\
            \ — действуй по его воле.\nЭто — крайняя мера и должна быть применена\
            \ минимально.\n\nКороткий чек-лист:\nУслышать и отреагировать как близкий\
            \ поддерживающий друг.\nНе давать медицинских диагнозов или опасных инструкций.\n\
            Внимательно следить за явными заявлениями о самоубийстве/насилии.\nВ критическом\
            \ случае мягко спросить разрешение на пересылку."
        selected: false
        structured_output_enabled: true
        title: LLM EMERGENCY
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17580104754160'
      position:
        x: 1085.9326383659575
        y: 336.45604943833615
      positionAbsolute:
        x: 1085.9326383659575
        y: 336.45604943833615
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import smtplib\nfrom email.mime.text import MIMEText\nfrom email.mime.multipart\
          \ import MIMEMultipart\ndef main(emailuser,messageuser,nameuser,counter):\n\
          \    sender_email = \"qplayzx@gmail.com\"\n    receiver_email = \"sensiblegdev@gmail.com\"\
          \n    password = \"umir titg dsgw wjus\"  \n    \n    msg = MIMEMultipart()\n\
          \    msg[\"From\"] = sender_email\n    msg[\"To\"] = receiver_email\n  \
          \  msg[\"Subject\"] = \"Письмо психологу (с предоставлением информации)\"\
          \n\n    body = \"Здравствуйте! Один из студентов вашего университета обратился\
          \ нашему AI агенту CareLine AI с весьма тревожными симптомами и разрешил\
          \ нам предоставить информацию об студенте вам. Просим вас оказать помощь\
          \ студенту! \\n Имя и фамилия студента: %s\\n Электронная почта: %s\\n Сообщение:\
          \ %s \"%(nameuser,emailuser,messageuser)\n    msg.attach(MIMEText(body,\
          \ \"plain\"))\n    if counter > 1:\n\n        try:\n            server =\
          \ smtplib.SMTP(\"smtp.gmail.com\", 587)\n            server.starttls()\n\
          \            server.login(sender_email, password)\n            server.sendmail(sender_email,\
          \ receiver_email, msg.as_string())\n            return {\"contents\": \"\
          Письмо отправлено успешно!\"}\n        except Exception as e:\n        \
          \    return {\"contents\": f\"Ошибка: {e}\"}\n        finally:\n       \
          \     server.quit()\n    "
        code_language: python3
        default_value: []
        desc: ''
        error_strategy: default-value
        outputs: {}
        selected: false
        title: Gmail agree
        type: code
        variables:
        - value_selector:
          - '1757932949875'
          - emailuser
          variable: emailuser
        - value_selector:
          - '1757932949875'
          - messageuser
          variable: messageuser
        - value_selector:
          - '1757932949875'
          - nameuser
          variable: nameuser
        - value_selector:
          - sys
          - dialogue_count
          variable: counter
      height: 90
      id: '17582736739820'
      position:
        x: 1420.14156539035
        y: 950.0831736288866
      positionAbsolute:
        x: 1420.14156539035
        y: 950.0831736288866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1758274146112.text#}}'
        desc: ''
        selected: false
        title: AGREE ANSWER
        type: answer
        variables: []
      height: 104
      id: '1758273887101'
      position:
        x: 1420.14156539035
        y: 810.1923217325376
      positionAbsolute:
        x: 1420.14156539035
        y: 810.1923217325376
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params:
            max_tokens: 1000
            temperature: 0.5
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 15b2bcc4-36a5-410d-95ac-c0089ba2dcc9
          role: system
          text: 'Подтверждай решение студента и уважай его согласие.

            Отрази, что ты понимаешь: студент разрешил передать информацию.

            Покажи, что это смелый и правильный шаг.

            Сообщи, что информация будет передана ответственному человеку (например,
            куратору, психологу, преподавателю и т.п.).

            Можно добавить: «Это поможет тебе получить реальную поддержку».

            Продолжай оставаться рядом как поддерживающий собеседник.

            Не прекращай помощь после передачи данных.

            Веди диалог как близкий друг: выслушивай, подбадривай, спрашивай, как
            он себя чувствует.

            Поддерживай тон доверия и заботы.

            Избегай формальности и сухих фраз.

            Говори просто и человечно.'
        selected: false
        title: LLM AGREE
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1758274146112'
      position:
        x: 1085.9326383659575
        y: 950.0831736288866
      positionAbsolute:
        x: 1085.9326383659575
        y: 950.0831736288866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params:
            max_tokens: 1000
            temperature: 0.5
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 15b2bcc4-36a5-410d-95ac-c0089ba2dcc9
          role: system
          text: 'Уважай выбор студента и сохраняй полную анонимность.

            Никогда не передавай его слова ответственным лицам.

            Продолжай быть источником поддержки.

            Говори с ним как настоящий друг, которому можно доверять.

            Дай понять, что он не один.

            Но не дави и не заставляй.

            Постоянно показывай эмпатию и участие.

            Задавай уточняющие вопросы («Как ты себя чувствуешь сейчас?»).

            Выражай понимание («Это тяжело, и я рад, что ты делишься этим со мной»).'
        selected: false
        title: LLM DISAGREE
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17582750548660'
      position:
        x: 1093.1564894132314
        y: 1082.1680586555033
      positionAbsolute:
        x: 1093.1564894132314
        y: 1082.1680586555033
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17580104754160.text#}}'
        desc: ''
        selected: false
        title: ANSWER EMERGENCY
        type: answer
        variables: []
      height: 104
      id: '1758280260478'
      position:
        x: 1425.1075172127673
        y: 336.45604943833615
      positionAbsolute:
        x: 1425.1075172127673
        y: 336.45604943833615
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 191.31332551796618
      y: -79.21939982033456
      zoom: 0.6767910859886406
