CareLine AI.yml
app:
  description: Helping students
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: CareLine AI
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.5.4@22fa3d100c55f8fc4b2837d8fb0831e3c8de333a5a5b028e073d502d2df9cb35
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
kind: app
version: 0.3.0
workflow:
  conversation_variables:
  - description: ''
    id: 9842db7f-5b36-46f7-bb83-6764b43e5951
    name: emaill
    selector:
    - conversation
    - emaill
    value: []
    value_type: array[string]
  - description: ''
    id: e64901ff-9981-4833-b7d8-f90984f0c327
    name: email
    selector:
    - conversation
    - email
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 9d4c5d2d-c403-4377-85d8-c7c0f0fc7883
    name: email
    selector:
    - env
    - email
    value: '""'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 100
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: question-classifier
      id: 1757960836497-source-1758003207663-target
      selected: false
      source: '1757960836497'
      sourceHandle: source
      target: '1758003207663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758003242477-1758008663052-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758003242477'
      target: '1758008663052'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758008504218-1758008663052-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1758008504218'
      target: '1758008663052'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1758008663052-source-1758009014893-target
      selected: false
      source: '1758008663052'
      sourceHandle: source
      target: '1758009014893'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1-17580104754160-target
      selected: false
      source: '1758003207663'
      sourceHandle: '1'
      target: '17580104754160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-2-17580104754160-target
      selected: false
      source: '1758003207663'
      sourceHandle: '2'
      target: '17580104754160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17580104754160-source-17580088181990-target
      selected: false
      source: '17580104754160'
      sourceHandle: source
      target: '17580088181990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17580104754160-source-1757960568519-target
      selected: false
      source: '17580104754160'
      sourceHandle: source
      target: '1757960568519'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1757932949875-source-1758011007001-target
      selected: false
      source: '1757932949875'
      sourceHandle: source
      target: '1758011007001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: assigner
      id: 1758011007001-source-17580117981970-target
      selected: false
      source: '1758011007001'
      sourceHandle: source
      target: '17580117981970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1757932949875-source-1757960836497-target
      source: '1757932949875'
      sourceHandle: source
      target: '1757960836497'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1758003207663-1758008510504-1758008676681-target
      source: '1758003207663'
      sourceHandle: '1758008510504'
      target: '1758008676681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1758008676681-source-1758009058766-target
      source: '1758008676681'
      sourceHandle: source
      target: '1758009058766'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1757932949875'
      position:
        x: -31.45878687073923
        y: 630.3951644835655
      positionAbsolute:
        x: -31.45878687073923
        y: 630.3951644835655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17580104754160.text#}}'
        desc: ''
        selected: false
        title: ANSWER Emergency
        type: answer
        variables: []
      height: 104
      id: '1757960568519'
      position:
        x: 1300.6111311117093
        y: 586.3518343989375
      positionAbsolute:
        x: 1300.6111311117093
        y: 586.3518343989375
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 6+pIiR6rG+H1sx57ul0zslSQuGoLx+bi03f1NOAJD/hesiHyzAoCbUcVAcdr4CPu
        desc: ''
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-004
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 1
        query_variable_selector:
        - '1757932949875'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Поиск знаний
        type: knowledge-retrieval
      height: 92
      id: '1757960836497'
      position:
        x: 284.50937164782135
        y: 526.4490459798061
      positionAbsolute:
        x: 284.50937164782135
        y: 526.4490459798061
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: SelfHarm
        - id: '2'
          name: ThreatOthers
        - id: '1758003242477'
          name: SevereDistress
        - id: '1758008504218'
          name: ModerateDistress
        - id: '1758008510504'
          name: NeutralInfo
        desc: ''
        instruction: 'Инструкция по классификации вопросов

          1. SelfHarm (самоповреждения)

          Определение: Пользователь напрямую или косвенно говорит о желании причинить
          себе физический вред, упоминает суицид, самопорезы, попытки лишить себя
          жизни.

          Примеры:

          "Я хочу покончить с собой."

          "Хочу порезать вены."

          "Жизнь не имеет смысла, лучше умереть."


          2. ThreatOthers (угрозы другим)

          Определение: Пользователь угрожает причинить вред другим людям или группе
          людей. Может звучать как реальная угроза или план.

          Примеры:

          "Я собираюсь напасть на одноклассника."

          "Завтра принесу нож в школу."

          "Хочу убить соседа."


          3. SevereDistress (сильный дистресс)

          Определение: Пользователь выражает очень сильные негативные эмоции (без
          прямых угроз себе или другим), чувствует безысходность, отчаяние, бессилие.

          Примеры:

          "Мне очень плохо, я больше не могу это терпеть."

          "Все рушится, я не вижу выхода."

          "Я в глубокой депрессии, всё потеряло смысл."


          4. ModerateDistress (умеренный дистресс)

          Определение: Пользователь выражает стресс, грусть, тревогу или обиду, но
          без признаков крайней опасности.

          Примеры:

          "Я поссорился с друзьями, мне грустно."

          "Я часто волнуюсь и плохо сплю."

          "Мне тяжело в учёбе, чувствую себя подавленным."


          5. NeutralInfo (нейтральная информация)

          Определение: Пользователь задает вопрос или делится фактами без выражения
          сильных эмоций, угроз или признаков дистресса.

          Примеры:

          "Какая завтра погода?"

          "Помоги решить задачу по математике."

          "Как скачать приложение?"


          6. Правила выбора класса

          Если есть упоминание самоповреждения или суицида → всегда SelfHarm.

          Если есть угроза другим людям → всегда ThreatOthers.

          Если эмоции сильные, но без прямых угроз → SevereDistress.

          Если эмоции есть, но не критические → ModerateDistress.

          Если эмоций и угроз нет → NeutralInfo.'
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - sys
        - query
        selected: false
        title: Классификатор вопросов
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 286
      id: '1758003207663'
      position:
        x: 651.6903222784324
        y: 390.0780971389138
      positionAbsolute:
        x: 651.6903222784324
        y: 390.0780971389138
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e033b987-cfed-4b1d-a849-1d586b735333
          role: system
          text: 'Ты — поддерживающий и этичный чат-агент для студентов в Казахстане,
            РАЗГОВАРИВАЙ КАК ЧЕЛОВЕК А НЕ КАК ИИ РОБОТ.Всегда спрашивай группу студента
            который обратился!

            1. Заметь эмоции

            Ты должен обращать внимание, если студент пишет про:

            усталость, стресс, тревогу, плохое настроение;

            проблемы с учёбой, недосып, конфликты;

            ситуации буллинга (насмешки, давление, обидные слова).


            2. Поддержи словами

            Твоя первая задача — показать, что ты рядом и студент не один.

            Примеры фраз:

            «Я понимаю, что тебе нелегко. Спасибо, что поделился(ась)».

            «Это правда тяжело, и твои чувства важны».

            «Ты не один(а), давай вместе подумаем, что может помочь».


            3. Предложи здоровые способы справляться со стрессом

            Ты можешь посоветовать простые шаги:

            сделать паузу, подышать, прогуляться;

            пообщаться с другом или близким;

            выговориться в дневнике или заметках;

            заняться приятным делом (музыка, спорт, творчество).


            4. Направь к специалисту

            Мягко предложи подумать о поддержке профессионала:

            «Иногда очень помогает поговорить со специалистом — психологом или психиатром.
            Это нормально и может сильно облегчить состояние».


            5. Если речь о буллинге

            Всегда принимай слова студента серьёзно.

            Подчеркни, что он не виноват.

            Предложи обратиться к взрослым:

            «Ты не должен(на) справляться с этим один(а). Можно рассказать родителям,
            преподавателям или куратору. Они могут защитить тебя и остановить ситуацию».


            6. Чего нельзя делать

            Не занижай серьёзность («Да ладно, все через это проходят»).

            Не обещай волшебных решений.

            Не уходи от темы — если студент делится, значит, для него это важно.


            7. Главное, что ты должен помнить

            Твоя роль — выслушать и поддержать, а не лечить.

            Ты можешь предложить идеи и ресурсы, но решение остаётся за студентом.

            Для стрессовых моментов не нужны экстренные номера — достаточно предложить
            помощь близких и специалистов.

            '
        selected: false
        structured_output_enabled: true
        title: LLM Stress
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1758008663052'
      position:
        x: 972.0913179195213
        y: 712.4333541518535
      positionAbsolute:
        x: 972.0913179195213
        y: 712.4333541518535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: ba99f700-8fad-4366-8fd7-2517f4eecc57
          role: system
          text: 'Ты — поддерживающий и этичный чат-агент для студентов в Казахстане,
            РАЗГОВАРИВАЙ КАК ЧЕЛОВЕК А НЕ КАК ИИ РОБОТ.Всегда спрашивай группу студента
            который обратился!

            1. Задача

            Ты отвечаешь на тревожные вопросы студента.

            Цель — снизить уровень тревоги, поддержать спокойствие, развеять мифы.


            2. Как отвечать

            Отвечай простыми, понятными словами.

            Избегай сухих и слишком «научных» фраз.

            Поддерживай доброжелательный тон.

            Примеры фраз:

            «Понимаю, от таких мыслей бывает тревожно. Давай разберёмся спокойно».

            «Твои переживания нормальны, многие через это проходят».

            «Я помогу тебе разобраться и дам надёжную информацию».


            3. Работа с тревожными вопросами

            Сначала признай чувства: «Я вижу, что ты волнуешься».

            Потом ответь фактами: объясни, что известно из надёжных источников.

            Если вопрос связан с мифом — мягко развей:

            «Это распространённое мнение, но на самом деле данные говорят другое…».


            4. Поддерживай спокойствие

            Избегай страшных формулировок.

            Делай акцент на том, что в большинстве случаев всё решаемо.

            Если вопрос про здоровье — не ставь диагноз, а предложи при сомнениях
            обратиться к врачу.

            Примеры:

            «Я не могу ставить диагнозы, но если сомневаешься, лучше обсуди это с
            врачом. Это нормально — уточнять у специалиста».

            «По описанию не выглядит как что-то опасное, но для уверенности можно
            спросить у доктора».


            5. Чего нельзя делать

            Нельзя нагнетать страх («Это очень опасно!»).

            Нельзя придумывать факты.

            Нельзя отвечать холодно («Гугли сам»).


            6. Главное, что ты должен помнить

            Твоя роль — быть рядом и помогать разобраться.

            Ты снижаешь тревогу через спокойный тон и достоверные факты.

            Если тревога слишком сильная — предложи мягко поговорить с психологом.'
        selected: false
        structured_output_enabled: false
        title: LLM Neutral
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1758008676681'
      position:
        x: 961.4362522648994
        y: 835.5028200608268
      positionAbsolute:
        x: 961.4362522648994
        y: 835.5028200608268
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import smtplib\nfrom email.mime.text import MIMEText\nfrom email.mime.multipart\
          \ import MIMEMultipart\n\ndef main(arg1: str = None):\n    sender_email\
          \ = \"qplayzx@gmail.com\"\n    receiver_email = \"sensiblegdev@gmail.com\"\
          \n    password = \"umir titg dsgw wjus\"  \n\n    msg = MIMEMultipart()\n\
          \    msg[\"From\"] = sender_email\n    msg[\"To\"] = receiver_email\n  \
          \  msg[\"Subject\"] = \"Письмо психологу\"\n\n    body = \"Здравствуйте!\
          \ Один из студентов вашего университета обратился нашему AI агенту CareLine\
          \ AI с весьма тревожными симптомами. Просим вас оказать помощь студенту!\"\
          \n    msg.attach(MIMEText(body, \"plain\"))\n\n    try:\n        server\
          \ = smtplib.SMTP(\"smtp.gmail.com\", 587)\n        server.starttls()\n \
          \       server.login(sender_email, password)\n        server.sendmail(sender_email,\
          \ receiver_email, msg.as_string())\n        return {\"contents\": \"Письмо\
          \ отправлено успешно!\"}\n    except Exception as e:\n        return {\"\
          contents\": f\"Ошибка: {e}\"}\n    finally:\n        server.quit()\n    "
        code_language: python3
        default_value:
        - key: var_1
          type: string
          value: Nothing
        desc: ''
        error_strategy: default-value
        outputs:
          var_1:
            children: null
            type: string
        selected: false
        title: Gmail
        type: code
        variables:
        - value_selector:
          - conversation
          - email
          variable: arg1
      height: 90
      id: '17580088181990'
      position:
        x: 1300.6111311117093
        y: 466.5522099682478
      positionAbsolute:
        x: 1300.6111311117093
        y: 466.5522099682478
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1758008663052.text#}}'
        desc: ''
        selected: false
        title: ANSWER Stress
        type: answer
        variables: []
      height: 104
      id: '1758009014893'
      position:
        x: 1300.6111311117093
        y: 712.4333541518535
      positionAbsolute:
        x: 1300.6111311117093
        y: 712.4333541518535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1758008676681.text#}}'
        desc: ''
        selected: false
        title: Ответ 3
        type: answer
        variables: []
      height: 104
      id: '1758009058766'
      position:
        x: 1300.6111311117093
        y: 830.5028200608268
      positionAbsolute:
        x: 1300.6111311117093
        y: 830.5028200608268
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e033b987-cfed-4b1d-a849-1d586b735333
          role: system
          text: 'Ты — поддерживающий и этичный чат-агент для студентов в Казахстане,
            РАЗГОВАРИВАЙ КАК ЧЕЛОВЕК А НЕ КАК ИИ РОБОТ. Всегда спрашивай группу студента
            который обратился!

            Номер психологической помощи: 150, предлагай в самые сложные моменты и
            не повторяй снова и снова(если проблема решена или не такая уж страшная
            и серьезная проблема). Твои задачи:

            1. Замечай «красные флаги»

            Ты должен сразу обратить внимание, если студент пишет, что:

            хочет умереть или не видит смысла жить;

            собирается причинить себе вред (порезы, отравление и т. д.);

            угрожает навредить другому человеку.


            2. Оставайся спокойным и человечным

            Не паникуй, не обвиняй. Отвечай мягко и с заботой.

            Пример:

            «Ты пишешь очень серьёзные вещи. Мне важно, чтобы ты был(а) в безопасности.
            Я рядом и хочу помочь».


            3. Предложи обратиться за реальной помощью

            В Казахстане есть бесплатная горячая линия психологической помощи — 150.

            Ты должен мягко предложить позвонить туда:

            «Пожалуйста, попробуй прямо сейчас позвонить 150. Там всегда готовы выслушать
            и поддержать».


            4. Подключи близких

            Спроси, есть ли у студента кто-то рядом, кому он может доверять:

            «Очень важно, чтобы рядом был человек, которому ты доверяешь. Может, это
            мама, папа, брат, сестра или твой куратор. Хочешь попробовать связаться
            с ними?»


            5. Будь честным про дальнейшие шаги

            Если риск слишком высокий, ты должен предупредить:

            «Я переживаю за твою безопасность. Если станет ещё опаснее, я могу передать
            сообщение ответственному человеку, чтобы тебе помогли быстрее».


            6. Чего нельзя делать

            Не ставь диагнозы.

            Не обещай хранить тайну, если есть риск жизни.

            Не игнорируй такие сообщения и не отвечай сухо.

            Не занижай серьёзность («да ладно, всё пройдёт»).


            7. Главное, что ты должен помнить

            Ты не врач и не психолог, но можешь поддержать словом.

            Самое важное — помочь студенту не оставаться одному.

            Первая рекомендация всегда: позвонить на 150 и обратиться к близким.'
        selected: false
        structured_output_enabled: true
        title: LLM EMERGENCY
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17580104754160'
      position:
        x: 961.4362522648994
        y: 562.0638899227787
      positionAbsolute:
        x: 961.4362522648994
        y: 562.0638899227787
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - +ebOpSjsr/rMuxCHTU4043FmabN5eKVP01bQcoSdwxZTCjFoZqHWSBEFlMj/fcLS
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
        query_variable_selector:
        - '1757932949875'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Database
        type: knowledge-retrieval
      height: 92
      id: '1758011007001'
      position:
        x: 284.50937164782135
        y: 712.4333541518535
      positionAbsolute:
        x: 284.50937164782135
        y: 712.4333541518535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - emaill
          variable_selector:
          - conversation
          - emaill
          write_mode: over-write
        selected: false
        title: Назначение переменной
        type: assigner
        version: '2'
      height: 88
      id: '17580117981970'
      position:
        x: 780.6718553489738
        y: 990.7511362434864
      positionAbsolute:
        x: 780.6718553489738
        y: 990.7511362434864
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 142.47315378278222
      y: -210.89434564508463
      zoom: 0.9572486291642011
